<%= form_for(@user, format: :js, remote: true, html: {id: 'user_form'}) do |f| %>
  <div class="alert-box hidden">
    <ul></ul>
  </div>
  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit nil, data: {disable_with: 'Submitting...'} %>
  </div>
<% end %>
