<div class="row">
  <div class="col-md-12">
    <%= simple_form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
      <%= f.input :name, :validate => true %>
      <%= f.input :email, :validate => true %>
      <%= f.input :password, :validate => true %>
      <div class="row actions">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <%= f.submit nil, data: {disable_with: 'Submitting...'}, class: 'btn-submit btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>